<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="application">
        <h1>Application</h1>
        <div id="googleMap">
            <!-- see GoogleMapsService -->
        </div>
    </div>
    <div id="stats">
        <!-- see GameController -->
    </div>
    <!-- see SystemController -->
    <div id="feedback">
        <div class="content"></div>
        <button class="confirm">OK</button>
        <button class="cancel">Cancel</button>
    </div>
</body>
</html>
